02-watermarking-using-objectstore-solution/src/main/mule/02-watermarking-using-objectstore.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:os="http://www.mulesoft.org/schema/mule/os"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="5bcfcd29-9516-455f-be24-805fc484997b" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="root" database="muletrainingdb" />
	</db:config>
	<flow name="02-watermarking-using-objectstoreFlow" doc:id="75b1da25-3e23-4d51-ac66-7b7b328540db" >
		<scheduler doc:name="Scheduler" doc:id="459f04be-6685-4578-8ea0-1024e76e87db" >
			<scheduling-strategy >
				<fixed-frequency frequency="5000"/>
			</scheduling-strategy>
		</scheduler>
		<os:retrieve doc:name="Retrieve" doc:id="1ccadd0b-cf1b-459f-b347-180ec1c8a8c4" key="lastproductid" target="lastproductid">
			<os:default-value ><![CDATA[#[0]]]></os:default-value>
		</os:retrieve>
		<db:select doc:name="Select" doc:id="9bdf3e62-d5a5-451c-8dec-aeb5a791b235" config-ref="Database_Config">
			<db:sql >select * from product where product_id &gt;:lastproductid</db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	lastproductid: vars.lastproductid as Number
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="5122a15c-76af-44ff-87e3-38f0af619ea0" >
			<when expression="#[not isEmpty(payload)]">
				<ee:transform doc:name="Transform Message" doc:id="5103a7eb-711b-4a2d-a95a-23a87a77e072">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="94bf8255-5729-4eed-bfb3-c62c7157135c" message="#[payload]"/>
				<os:store doc:name="Store" doc:id="13e071eb-a576-4910-b497-57c3a1917972" key="lastproductid">
			<os:value><![CDATA[#[max(payload.product_id)]]]></os:value>
		</os:store>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="6997bfda-545c-439c-8177-716150ed8e8d" message="No Records ###############"/>
			</otherwise>
		</choice>
	</flow>
</mule>
