01-exceptions-solution/src/main/mule/01-exceptions-solution.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:validation="http://www.mulesoft.org/schema/mule/validation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/validation http://www.mulesoft.org/schema/mule/validation/current/mule-validation.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b8bad242-743d-4595-a3d0-c477085d5538" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>  
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="bd318e5b-87be-463c-90ad-f9e8afb0aea5" >  
		<wsc:connection wsdlLocation="products.wsdl" service="ProductServicePortService" port="ProductServicePortSoap11" address="http://localhost:6060/soap/ws" />
	</wsc:config>
	<validation:config name="Validation_Config" doc:name="Validation Config" doc:id="351e7c1c-2f5c-4e99-bdef-56663705ee20" />
	<configuration doc:name="Configuration" doc:id="db66cadc-0350-418a-b2ac-b9840592ebc9" defaultErrorHandler-ref="01-exceptions-solutionError_Handler" />
	<error-handler name="01-exceptions-solutionError_Handler" doc:id="8a332c5a-0067-4535-99f2-c60d871ed09e" >
		<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="699fb878-93c2-4a37-8e13-3e17adf49933" >
			<logger level="INFO" doc:name="Logger" doc:id="8764b5ff-4dc8-478d-a4ba-d5d93b17a700" message="#['In Global Error Handler']"/>
		</on-error-continue>
	</error-handler>
	<flow name="getproductsbyname" doc:id="d954f7f3-18a7-4285-a430-eaa9a82e9466" >
		<wsc:consume operation="getProductsByName" doc:name="Consume" doc:id="4f535350-6c55-40d9-bb10-93282d305486" config-ref="Web_Service_Consumer_Config" >
			<error-mapping sourceType="WSC:CANNOT_DISPATCH" targetType="APP:SIVACONNECTIVITYERROR" />
		</wsc:consume>
		<logger level="INFO" doc:name="Logger" doc:id="b45dbcf6-8ee9-4d00-84a5-28a42d9b8d8e" message="#['After  webservice consumer ==========']"/>
		<ee:transform doc:name="Transform Message" doc:id="0d0c39a3-0e01-47d8-90cc-699948f41303" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json

---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="a136e3cf-a66e-4631-850d-aa1f5c5acba4" type="APP:SIVACONNECTIVITYERROR">
				<set-payload value="#['In getproductsbyname after error from webservice----on error Propagate error type: APP:SIVACONNECTIVITYERROR']" doc:name="Set Payload" doc:id="ac8c445c-614c-4c42-90e4-81c053358bd9" />
				<logger level="INFO" doc:name="Logger" doc:id="8e3dcaf2-4880-42f4-9f5f-c4ee4f3eb054" message="#['In getproductsbyname after error from webservice----on error Propagate']"/>
				<raise-error doc:name="Raise error" doc:id="41fc9491-ebc6-4afc-89fb-d31a14d3f982" type="APP:SIVACUSTOMERROR" description="My Custom Errorrrrrr"/>
			</on-error-propagate>
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="8442f2d9-23a8-4205-8736-5c23c091499f">
				<set-payload value="#['In getproductsbyname after error from webservice---on error  continue']" doc:name="Set Payload" doc:id="c2c1e9b5-73f8-4b2e-ad7b-6943ae551dfc" />
				<logger level="INFO" doc:name="Logger" doc:id="04520b1f-2f80-453c-b438-0e0a09ed810c" message="#['In getproductsbyname after error from webservice----on error continue']"/>
			</on-error-continue>
		</error-handler>
	</flow>
	<flow name="ValidateAndTransform" doc:id="65e8fa3b-488e-433f-bbe5-9f29d816e89b" >
		<validation:is-true doc:name="Is true" doc:id="e268bfe3-66f5-40cb-820c-a341ffa6f24c" config-ref="Validation_Config" expression="#[['Hp','Mac'] contains  attributes.queryParams.productname]" message="Invalid productname!!!!!!!!!!!!!!!!!!!!!!!" />
		<ee:transform doc:name="Transform Message" doc:id="9940b230-b383-43c1-a7a1-29c6c6009a55">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/xml
ns ns0 http//way2learnonline.com/domain
---
{
	ns0#getProductsByNameRequest: {
		name: vars.productname as String
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="getproductsbyname" doc:id="bb84052b-0b6b-42fe-8a0a-84b1625045ce" name="getproductsbyname"/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="f4865a14-3ee6-4bf6-a1ff-e75d370657d1" >
				<logger level="INFO" doc:name="Logger" doc:id="84397e86-1893-4958-8266-93bcfc3b0fae" message="#['Inside on error propagate of ValidateAndTransform']"/>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="mainflow" doc:id="ee659804-71de-4bec-b8b8-508498da5f77" >
		<http:listener doc:name="Listener" doc:id="d46fbdb5-7ef4-4cdc-b402-a27750ed9768" config-ref="HTTP_Listener_config" path="/error" >
			<http:error-response statusCode="400" >
				<http:body ><![CDATA[#[output application/json --- error.errorType]]]></http:body>
			</http:error-response>
		</http:listener>
		<set-variable value="#[attributes.queryParams.productname]" doc:name="Set Variable" doc:id="4afd67fd-b19e-4f8c-bc55-730398a74600" variableName="productname"/>
		<flow-ref doc:name="ValidateAndTransform" doc:id="ec1054d2-5bce-4ecf-bf53-bf8c3bb49f60" name="ValidateAndTransform"/>
		<logger level="INFO" doc:name="Logger" doc:id="f52a19db-0726-4478-a10b-50bea1955787" message="#['in main flow After Getting all products']"/>
	</flow>
</mule>
